<!DOCTYPE html>
<html>

<head>
    <titl>Favorite Books</titl>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        p.flash{
            color:red;
            font-size: 12px;
        }

    </style>
</head>
<body>
    <a href="/books/myfav">look at my favorite books</a><br>
    <a href="/logout">Log Out</a>
    <h1>Welcome {{name}}</h1>

    <div class="container">
        <div class="row">
          <div class="col">
            <h2>Add a Favorite Book</h2>
            <form action="/books/add_book" method="POST">
                {%csrf_token%}
                <input type="hidden" name="user_id" value={{user_id}}>
                {%if messages%}
                {%for i in messages%}
                {%if i.extra_tags == 'title'%}
                <p class='flash'>{{i}}</p>
                {%endif%}
                {%endfor%}
                {%endif%}
                Title: <input type="text" name="title" placeholder="book name here">
                <br>
                {%if messages%}
                {%for i in messages%}
                {%if i.extra_tags == 'desc'%}
                <p class='flash'>{{i}}</p>
                {%endif%}
                {%endfor%}
                {%endif%}
                Descriptions: <textarea name="desc" placeholder="say something about this book"></textarea>
                <br>
                <button type="submit">Add</button>
            </form>


          </div>
          <div class="col">
           <h2>All Books</h2>
            {%if all_books%}
            <ul>
            {%for book in all_books%}
                <li>
                    <a href="/books/{{book.id}}">{{book.title}}</a>
                <p>added by: {{book.creater.first_name}} {{book.creater.last_name}}
                {%if book in the_user.fav_books.all %}
                    <p>this is one of your favorites</p>
                {%else%}
                    <br><a href="/books/add_fav/{{book.id}}">Add to Favorites</a>
                {%endif%}
            </p>
            
                </li>
                <br>
            {%endfor%}
            </ul>
            {%endif%}




          </div>
    </div> 













</body>
</html>